.pokemon-modal {
  width: 70%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(46, 83, 90, 0.5);
  border-radius: 20px;
  position: fixed;
  background-color: white;
  top: 20%;
}

.pokemon-name {
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.pokemon-modal .close-btn {
  position: absolute;
  border: none;
  width: 2em;
  height: 2em;
  right: 0.1em;
  top: 0.1em;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  color: #656565;
  padding: 0 0.2em;
  font-size: 1.5em;
}
.pokemon-modal .close-btn:hover {
  background-color: rgb(221, 29, 29);
  color: white;
}

.pokemon-img-container {
  width: 80%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.pokemon-img-container img {
  width: 100%;
  height: 100%;
}

.pokemon-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 30px;
}
.pokemon-types div {
  border: solid 1px rgb(255, 255, 255);
  padding: 5px 10px;
  background-color: red;
  color: rgb(5, 1, 1);
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(46, 83, 90, 0.5);
}

.pokemon-stats {
  display: grid;
  grid-template-columns: repeat(4, 3.5em);
  grid-gap: 0.7em 1em;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 0.8em;
  padding: 1em;
}

@media screen and (max-width: 600px) {
  .pokemon-stats {
    grid-template-columns: repeat(2, 3.5em);
  }
  .pokemon-img-container {
    height: 200px;
  }
  .pokemon-name {
    font-size: 1.4em;
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(10, 3, 3);
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(15, 8, 8) transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
